<!DOCTYPE html>
<html>
<head>
  <title>Judge</title>
  <%= stylesheet_link_tag    "judge/application", :media => "all" %>
  <%= javascript_include_tag "judge/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
